<template id="person-card">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.6rem;
      background-color: rgba(255, 255, 255, 0.05);
      padding: 1.6rem;
      position: relative;
    }

    h2 {
      margin-top: 0;
    }

    slot[name="name"] {
      font-weight: 400;
    }

    .contact > span:first-child {
      font-weight: 500;
    }

    .contact-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.4rem;
    }
  </style>
  <div class="person-card">
    <h2><slot name="name"></slot></h2>
    <p><span>CPF:&nbsp;</span><slot name="code"></slot></p>
    <div class="contact-list">
      <div class="contact"><span>E-mail:</span><slot name="email"></slot></div>
      <div class="contact">
        <span>Telefone:</span><slot name="phone"></slot>
      </div>
    </div>
  </div>
</template>

<ul id="people" class="people-list --loading"></ul>
